/* 
    Created on : 28-Oct-2014, 15:31:54
    Author     : MorrisL
*/

@import url('/css/normalize.css');
@import url('/css/foundation.css');

#wrapper {
    background: url('/img/tools.jpg') no-repeat;
    background-size: 100%;
}