/* 
    Created on : 28-Oct-2014, 15:31:54
    Author     : MorrisL
*/

@import url('/css/normalize.css');
@import url('/css/foundation.css');

body {
    background: url('/img/tools.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}